<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="icon" href="favicon.png" type="image/png" /> -->
  <title>{{ renderData.title or title or siteSettings.title }}</title>
  <meta name="Description" content="{{ renderData.description or description or siteSettings.description }}">
  <script>document.documentElement.classList.remove('no-js');</script>
  <link rel="stylesheet" href="/css/site.css">
  <script async defer src="https://kit.fontawesome.com/d0e135aee9.js" crossorigin="anonymous"></script>
  <script async defer data-domain="phil.dev" src="https://plausible.io/js/plausible.js"></script>
  {% block pageHead %}
  {% endblock %}
</head>
<body>
  {% include "partials/global-header.njk" %}

  <main id="content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto font-body">
        {% block content %}
          {{ content | safe }}
        {% endblock content %}
      </div>
    </div>
  </main>

  {% include "partials/global-footer.njk" %}
  {% block pageFoot %}
  {% endblock %}

  <script src="/js/bundle.js"></script>
</body>
</html>
