<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.png" type="image/png" />
  <title>{{ renderData.title or title }} - {{ siteSettings.globalTitle }}</title>
  <meta name="Description" content="{{ renderData.description or description or siteSettings.description }}">
  <script>document.documentElement.classList.remove('no-js');</script>
  <link rel="stylesheet" href="/css/site.css">
  <script src="https://kit.fontawesome.com/d0e135aee9.js" crossorigin="anonymous" defer></script>
  <script src="https://magpie.phil.dev/script.js" site="QEBTFWWB" defer></script>
  {% block pageHead %}
  {% endblock %}
</head>
<body class="flex flex-col min-h-screen">
  {% include "partials/globals/header.njk" %}

  <main id="main" class="flex-1">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-12">
      <div class="max-w-2xl mx-auto font-body">
        {% block content %}
          {{ content | safe }}
        {% endblock content %}
      </div>
    </div>
  </main>

  {% include "partials/globals/footer.njk" %}
  {% block pageFoot %}
  {% endblock %}

  <script src="/js/bundle.js"></script>
</body>
</html>
