<a class="transition duration-75 transform -translate-y-full absolute focus:translate-y-0 px-4 py-2 bg-blue-600 text-white" href="#main">Skip to content</a>

<!--
<header role="banner" class="mb-8 border-b-2 bg-gray-200 h-16">
  [header]
  {% include "partials/globals/navigation.njk" %}
</header>
-->
