@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fonts */
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url('/fonts/domine-latin-700.woff2') format('woff2'),
    url('/fonts/domine-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url('/fonts/montserrat-latin-400.woff2') format('woff2'),
    url('/fonts/montserrat-latin-400.woff') format('woff');
}

/* CMS Styles */
.content h1 {
  @apply font-heading mb-4 text-3xl;
}

.content h2 {
  @apply font-heading mb-4 text-2xl;
}

.content h3 {
  @apply font-heading mb-4 text-xl;
}

.content p {
  @apply mb-4 leading-relaxed;
}

.content ol,
.content ul {
  @apply ml-4 mb-4 leading-relaxed;
}

.content ol {
  @apply list-decimal;
}

.content ul {
  @apply list-disc;
}

/* Special Styles */
.fancy-link {
  background-image: linear-gradient(120deg, #80fa93 0%, #8fbaf0 100%);
  background-size: 100% 0.15rem;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms ease-in;
}

.fancy-link:hover {
  background-size: 100% 100%;
}
