---
layout: base
eleventyComputed:
  title: "{{ homepage.pageTitle }}"
---

{% if siteSettings.availability %}
  {% set availabilityText = homepage.availableContent %}
{% else %}
  {% set availabilityText = homepage.unavailableContent %}
{% endif %}

{% block content %}
<figure class="mb-8">
  <img src="{{ homepage.promoImage | getImage }}" alt="{{ homepage.promoImage.alt }}" />
  <figcaption class="text-right text-xs mt-1">{{ homepage.promoImage.caption }}</figcaption>
</figure>

{{ homepage.blockContent | sanityHTML | safe }} {{ availabilityText | sanityHTML | safe }}

{% endblock %}
