---
layout: base
eleventyComputed:
  title: "{{ homepage.pageTitle }}"
---

{% if siteSettings.availability %}
  {% set availabilityText = homepage.availableContent %}
{% else %}
  {% set availabilityText = homepage.unavailableContent %}
{% endif %}

{% block content %}
<div class="js-audio mb-8">
  <button class="js-audio-image focus:outline-none block">
    <figure>
      <img src="{{ homepage.promoImage | getImage }}" alt="{{ homepage.promoImage.alt }}" />
      <figcaption class="text-right text-xs mt-1">{{ homepage.promoImage.caption }}</figcaption>
    </figure>
  </button>
  <div class="js-audio-player relative justify-center items-center hidden">
    <button class="js-audio-close focus:outline-none absolute top-0 right-0">
      <i class="js-audio-close far fa-times text-3xl pa-4"></i>
    </button>

    <audio class="js-audio-element" preload='none'>
      <source src="{{homepage.audioUrl}}" type="audio/mp3" />
    </audio>

    <div>
      <button class="js-audio-play block focus:outline-none">
        <i class="far fa-play-circle text-6xl"></i>
      </button>
      <button class="js-audio-pause hidden focus:outline-none">
        <i class="far fa-pause-circle text-6xl"></i>
      </button>
      <p class="text-xs mt-2">Sound on!</p>
    </div>
  </div>
</div>

<div class="content">
  {{ homepage.blockContent | sanityHTML | safe }}
  {{ availabilityText | sanityHTML | safe }}
</div>

<h2 class="font-heading text-2xl mt-8 mb-4">Previous Partners</h2>

<ul class="">
{% for partner in homepage.partners %}
  <li class="inline-block">{% tags partner, "bg-orange-100", "text-orange-800" %}</li>
{% endfor %}
</ul>

<h2 class="font-heading text-2xl mt-4 mb-4">Technology Stack</h2>

<ul class="">
{% for current in homepage.currentTech %}
  <li class="inline-block">{% tags current, "bg-purple-100", "text-purple-800" %}</li>
{% endfor %}
</ul>

<h2 class="font-heading text-2xl mt-4 mb-4">Get In Touch</h2>

<p>Find me on <a class="fancy-link" href="https://twitter.com/frontendphil">Twitter <i class="far fa-external-link"></i></a>, <a class="fancy-link" href="https://www.linkedin.com/in/frontendphil">LinkedIn <i class="far fa-external-link"></i></a>, <a class="fancy-link" href="https://github.com/fephil">GitHub <i class="far fa-external-link"></i></a> or look at my <a class="fancy-link" href="http://bit.ly/life-list">Trello Life Goals List <i class="far fa-external-link"></i></a> or <a class="fancy-link" href="https://www.instagram.com/philjameslennon/">Instagram <i class="far fa-external-link"></i></a> to learn more about me.</p>

<ul class="mt-4">
  <li>Email: <a class="fancy-link" href="mailto:enquiry@phil.dev">enquiry@phil.dev <i class="far fa-external-link"></i></a></li>
  <li>Phone: <a class="fancy-link" href="tel:03334441250">0333 444 1250 <i class="far fa-external-link"></i></a></li>
</ul>

<div class="mt-8 border-2 px-4 py-6">
  <h3 class="font-heading text-md mb-8">Quickly Contact Me Now</h3>

  {% include "partials/components/contactForm.njk" %}
</div>

{% endblock %}
